body {
  background-color: #f3f3e1;
}

/* Navbar */
#theNav {
  height: 40px;
}

#site-name {
  padding-left: 1rem;
  font-size: 2rem;
}

/* Containers */
.container-fluid {
  padding: 5% 13%;
}

/* The title of the site */
.the-header {
  /* The font */
  font-family: "Hammersmith One", sans-serif;
  /* The background */
  background-image: url("images/fruits.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  color: #f3f3e1;
  text-align: center;
  padding-top: 15px;
}

.justSep {
  background-color: #f3f3e1;
  color: black;
  width: 50%;
  margin: auto;

  border-radius: 20px;
}

.the-header .phrase {
  font-family: "Solway", serif;
  font-size: 20px;
  font-weight: bolder;
}

h1 {
  font-size: 4rem;
  margin-top: 50px;
}

/* Introduction */

.leftSide,
.rigthSide {
  height: 50vh;
  width: 100%;
}

/* The images from the left */
#img1,
#img2 {
  margin: 10px;

  height: 300px;
  width: 200px;
}

#img1 .theTacos {
  height: 100%;
  width: 100%;
  object-fit: cover;

  /* Positions */
}

#img2 .theBread {
  height: 100%;
  width: 100%;
  object-fit: cover;

  /* Positions */
}

.theTacos {
  position: relative;
  top: 6rem;
}

.theBread {
  position: relative;
  left: 15rem;
  bottom: 11rem;
}

.theTacos,
.theBread {
  box-shadow: 3px 2px lightgray;
  border-radius: 10px;
}

/* Right Side */

/* The text */

/* The button */
.theButton {
  width: 150px;
  height: 50px;
}

#generateRep-intro {
  display: inline;
  position: relative;
  color: white;
  background-color: black;
  border: none;

  /* Size */
  width: 100%;
  height: 100%;

  /* Position */
  bottom: 37px;
  top: 37px;
}

#chooseRep {
  display: inline;
  position: relative;
  color: white;
  background-color: black;
  border: none;

  /* Size */
  width: 100%;
  height: 100%;

  /* Position */
  left: 25rem;
  bottom: 10px;
}

#generateRep-intro a,
#chooseRep a {
  color: #f3f3e1;
}

#generateRep-intro,
#chooseRep {
  border-radius: 10px;
}

#generateRep-intro:hover {
  color: white;
  background-color: rgb(56, 56, 56);
  border: none;
}

#chooseRep:hover {
  color: white;
  background-color: rgb(56, 56, 56);
  border: none;
}

/* Cultural Section */
#cultural {
  background-image: url("images/woodBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  image-resolution: 1500px;

  /* Size */
  height: 60vh;
}

#cultural .container-fluid {
  display: flex;
  justify-content: center;
}

.explaining,
.latino_food,
.american_food,
.asian_food {
  display: inline-block;
  border-radius: 10px;
}

.latino_food,
.american_food,
.asian_food {
  color: #f3f3e1;
  text-align: center;
}

.cul {
  margin: 20px;
  height: 300px;
  width: 200px;
}

.cul img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 10px;
}

.food p {
  color: #f3f3e1;
}

#cultural button {
  border-style: none;
  height: 40px;
  width: 150px;
  background-color: #776856;
}

#cultural button a {
  color: #f3f3e1;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}

#cultural button:hover {
  background-color: #998874;
}

#cultural button a:hover {
  text-decoration-color: rgb(255, 251, 251);
}

.explaining {
  position: relative;
  background-color: #f3f3e1;
  display: inline-block;

  padding: 15px;
  /* Position */
  right: 10rem;

  height: 350px;
}

/* Contact */

.contactRight,
.contactLeft {
  height: 70vh;
}

.contactWord {
  font-size: 40px;
  margin-bottom: 100px;
}

.phoneNumber,
.emailAd,
.contactWord {
  padding-left: 20%;
  padding-top: 50px;
}

/* Contact left image */
#contact > div > div > div:nth-child(1) > div > img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border-radius: 10px;
}

/* Footer */

footer {
  background-color: rgb(56, 56, 56);
  height: 11vh;
}

.copy-right {
  color: white;

  /* Position */
  text-align: center;
  padding: 2%;
}

/* Media Queries */

/* The images  */
@media screen and (max-width: 1310px) {
  .theTacos {
    position: relative;
    top: 6rem;
    right: 8rem;
  }

  .theBread {
    position: relative;
    left: 7rem;
    bottom: 11rem;
  }

  #chooseRep {
    display: inline;
    position: relative;
    color: white;
    background-color: black;
    border: none;

    /* Size */
    width: 100%;
    height: 100%;

    /* Position */
    left: 15rem;
    bottom: 10px;
  }
}

@media screen and (max-width: 930px) {
  h1 {
    font-size: 3rem;
  }

  .theTacos {
    position: static;
  }

  .theBread {
    position: static;
  }

  #chooseRep {
    position: static;
  }

  #generateRep-intro {
    position: static;
  }

  .leftSide,
  .rigthSide {
    height: 70vh;
  }
}

@media screen and (max-width: 705px) {
  /* Cultural Section */
  #cultural {
    /* Size */
    height: 150vh;
  }

  #cultural .container-fluid {
    display: block;
    justify-content: center;
  }

  .latino_food,
  .american_food,
  .asian_food {
    position: relative;

    /* Position */
    left: 150px;
    bottom: 300px;
  }

  .cul {
    margin: 20px;
    height: 300px;
    width: 200px;
  }

  .cul img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px;
  }

  .food p {
    color: #f3f3e1;
  }

  #cultural button {
    border-style: none;
    height: 40px;
    width: 150px;
    background-color: #776856;
  }
}

@media screen and (max-width: 550px) {
  .theTacos {
    position: relative;
    right: 2rem;

    top: 4rem;
  }

  .theBread {
    position: relative;
    left: 12rem;
  }

  .whatIs {
    bottom: 14rem;
  }

  #chooseRep {
    position: relative;
    left: 10rem;
  }

  #generateRep-intro {
    position: relative;
  }

  .whatIs {
    text-align: center;
  }

  .leftSide,
  .rigthSide {
    height: 50vh;
  }

  .rigthSide {
    padding: 50px;
    height: 40vh;
  }

  .the-header .container-fluid {
    width: 100%;
  }
}
